#heading{
    color:red;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width:100px;
    padding: 20px;
}
.nav-items>ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
}
.nav-items>ul>li{
    padding: 10px;
    margin: 10px;
}
.searchbar{
    padding: 10px;
}
.rest-card{
    width: 50%;
    border: 1px solid grey;
    margin: 10px;
    background-color: whitesmoke;
}
.rest-card:hover{
    border:2px solid black;
}
.res-logo{
    width:90%;
    margin: 10px;
}
.res-text{
    margin: 10%;
}
.rest-container{
    display: flex;
    margin:10px;
    padding: 20px;
}
.filter-btn{
    margin:4px; 
    cursor: pointer;
}
.shimmer-container{
    display:flex;
    flex-wrap:wrap;

}
.shimmer-card{
    margin: 20px;
    width:200px;
    height:400px;
    background-color:#f0f0f0;
}
.filter{
    display: flex;
}
.search{
    margin:4px;
}
.search-btn{
    cursor:pointer;
}